<div class="point">
	<span>entropia média = [% entropy %], Número minimo de amostras: [% minSample %] , Desvio padrão = [% variation %]</span>
</div> 

<div class="classifierTable">
	<table>
		[% classifierTable %]
	</table>
</div>